.posterImg{
    /* width: 200px;  */
}

html {
    overflow-x: hidden;
}

body{
    font-family: , sans-serif;

}

.trending{
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    /* color: white; */

}

.top-rated{
    /* color: black; */
   background-color: #87878714;
}

.upcoming{
    background-image: linear-gradient(to right, #332525 0%, rgb(44, 76, 62) 100%);
}

.search {
    border-radius: 5px;
}

.pg .pagination {
    display: flex;  
    flex-wrap: wrap;
}


@media only screen and (max-width: 700px) {
    .modalCard {
      /* background-color: lightblue; */
      display: flex;
      flex-direction: column;
      /* text-align: start; */
    }

    .modalImg{
        width: 15rem !important;
        /* height:100% !important; */
        margin: auto;
        margin-top: 300px;
    }

   
}