@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


html {
    overflow-x: hidden;
}

.trending,
.bgBlue {
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.top-rated,
.bgGrey {
    background-color: #87878714;
}

.upcoming,
.bgGreenish {
    background-image: linear-gradient(to right, #332525 0%, rgb(44, 76, 62) 100%);
}



.search {
    border-radius: 5px;
}

.pg .pagination {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 700px) {
    .modalCard {
        display: flex;
        flex-direction: column;
    }

    .modalImg {
        width: 15rem !important;
        margin: auto;
        margin-top: 300px;
    }
}